{% extends 'base.html' %} {% load static %} {% block head %}

<link rel="stylesheet" href="{% static 'css/releases/release-list.css' %}">

{% endblock %} {% block content %}

<section class="page-header">
  <h1>My Collection</h1>
</section>

<div class="create-card">
  <button class="btn-link"><a href="{% url 'release-create' %}" style="text-decoration: none;
  font-size: 3rem;
  padding: 12px 24px;
  border-color: white;
  border-radius: 8px;
  background-color: steelblue;
  color: white;
  display: inline-block;
  transform: back-color 0.2s ease;">
  +
</a>
</button>
</div>

<section class="card-container">
  {% for release in release_list %}
  <div class="card">
    <div class="card-content">
      <div class="card-image-container">
        <img class="release-icon" src="{% static 'images/ND_PCHLDR_Icon.png' %}" alt="Cover placeholder image." style="width: 100%; max-width: 275px; height: auto; border: 2px solid steelblue;" />
      </div>
      <h2 class="card-title"><a href="{% url 'release-detail' release.id %}">{{ release.title }}</a></h2>
      <p>
        Artist:
        {{ release.artist }}
      </p>
      <p>Label: {{ release.label }}</p>
      <p>Release Date: (release date)</p>
      <p>Format: {{ release.media_format }}</p>
      <p>Description:<br><small>{{ release.description }}</small></p>
    </div>
    <div class="release-actions">
      <button type="button" class="btn-warn"><a href="{% url 'release-update' release.id %}">Edit</a></button>
      <button type="button" class="btn-danger"><a href="{% url 'release-delete' release.id %}"
        >Delete</a
      ><button>
      </div>
  </div>
  {% endfor %}
</section>

{% endblock %}
