{% extends 'base.html' %} {% load static %} {% block head %}

<link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %} {% block content %}

<section class="logo-container">
  <div class="logo-graphic-container">
    <img src="{% static 'images/ND_Logo_Rect.png' %}" alt="ND LOGO" style="width: 150%; height: auto;"/>
  </div>
  <h2>Track What Moves You.</h2>
</section>

{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="POST" class="login">
    <h1>Login</h1>
    {% csrf_token %} {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" class="btn-submit">Login</button>
  </form>
</section>
{% endif %} {% endblock %}
