.release-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.release-img {
  width: 75%;
  max-width: 350px;
}

.release-details {
  width: 98%;
  text-align: center;
}

.release-actions {
  margin-top: 20px;
}

.release-details h1 {
  font-size: var(--font-xl);
  margin: 15px 0 3px;
}

.release-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}
